
#loading_img{
    position: relative;
    display: block;
}

#loading_text{
    position: relative;
    display: block;
    font-size: 30px;
    line-height: normal;

    /* font-family: 'Biaodian Pro Sans CNS', 'Helvetica Neue', Arial, 'Han Heiti CNS', sans-serif; */
}

#dot_container {
    position: relative;
    display: block;

    /* top: 45%;
    left: 30%; */

    width: 40%;
    height: 20%;
    font-size: 32pt;
}
  
#dot_container > div {
    position: absolute;
    top: 40%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    line-height: 0pt;

    animation-name: up_and_down;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-duration: 1.5s;

}

#dot_container div:nth-child(1) {
    left: 36%;
    color:#f52c9d;
    background: #f52c9d;
    
    animation-delay: 0;
    animation-iteration-count: infinite;
}

#dot_container div:nth-child(2) {
    left: 50%;
    color:#f78120;
    background: #f78120;
    
    animation-delay: 0.3s;
}

#dot_container div:nth-child(3) {
    left: 64%;
    color:#47e2f7;
    background: #47e2f7;

    animation-delay: 0.6s;
}

@keyframes up_and_down {
    0% { transform: translate( 0 , 0 ); }
    25% { transform: translate( 0 , -25px );}
    50% { transform: translate( 0 , 0 );}
    100% {transform: translate( 0 , 0 );}
}


#resolutionWarningDiv{
    visibility: hidden;
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: rgba( 0 , 0 , 0 , 0.85 );
    color: white;

    opacity: 1.0;
    z-index: 2;
}

#rwText{
    position: absolute;
    margin: 0;
    top: calc( 50% - 20px );
    width: 100%;
    height: 40px;
    text-align: center;
}

#main_section{
    position: absolute;


    z-index: 1;
    visibility: hidden;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    user-select: none;
    pointer-events: none;

    font-family: Roboto, Source Han Sans TC, 微軟正黑體, sans-serif;

    background-color: rgba(0, 0, 0, 0.01 );
}

#main_section.active{
    visibility: visible;
}


#main_logo_container{
    margin-top: 5px;

    width: 100%;
    height: 120px;

    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

#main_logo_mask{

    width: 50%;
    max-width: 300px;
    height: 120px;

    -webkit-mask: url("../images/icon/app素材-09.png") no-repeat center center;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask: url("../images/icon/app素材-09.png") no-repeat center center;
    mask-position: center;
    mask-size: contain;

    background-color: white;
}

#scan_rect{
    position: relative;
    top: calc( 50% - 280px );
    left: calc( 50% - 100px );
    width: 200px;
    height: 200px;
}

#scan_rect.hide{
    display: none;
}

.top-left{
    position: absolute;
    left: -1px;
    top: -1px;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 3px 0 0 3px;
}
.top-right{
    position: absolute;
    right: -1px;
    top: -1px;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 3px 3px 0 0;
}
.bottom-left{
    position: absolute;
    right: -1px;
    bottom: -1px;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0 3px 3px 0;
}
.bottom-right{
    position: absolute;
    left: -1px;
    bottom: -1px;
    padding: 10px;
    border-style: solid;
    border-color: white;
    border-width: 0 0 3px 3px;
}


#scan_note_text_container{
    position: relative;
    top: calc( 50% - 280px );

    margin-top: 20px;
    font-size: 20px;
    line-height: 30px;
}

#scan_note_text_container.hide {
    display: none;
}

#scan_text{
    color: white;
    white-space: pre-line;
}

#control_help{
    position: absolute;

    visibility: hidden;

    width: 100%;
    bottom: 120px;
    height: 50px;

    font-size: 20px;
}

#control_help.show{
    visibility: visible;
}

#control_help_text{
    color: white;
    white-space: pre-line;
}

#bottom_container{
    position: absolute;
    bottom: 35px;

    left: 0%;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;
}

#bottom_container_main{
    width: 100%;

    height: 30px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 15px;

    pointer-events: all;
}


#all_product_btn_link , #buy_btn_link , #vr_btn_link {
    text-decoration: none;
    color: rgb(254, 62, 129);
    pointer-events: all;
}

#scan_other , #check_teach , #all_product{
    position: relative;
    white-space: nowrap;
    
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;
}

#scan_other.hide{
    display: none;
}

#scan_other_text , #check_teach_text , #all_product_text{
    margin: 0;
    padding: 0 15px 0 15px;
    font-size: 20px;
    color: black;
    background-color: white;

    border-radius: 50px;
}


#all_product_popup{
    position: absolute;

    visibility: hidden;

    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;

    background-color: #E4C050;
    opacity: 0.99;
}

#all_product_popup.show{
    visibility: visible;
}


#all_product_popup_close{
    position: absolute;
    right: 15px;
    top: 15px;
    width: 26px;
    height: 26px;
    opacity: 1;
    z-index: 1;
    pointer-events: all;
}

#all_product_popup_close:before, #all_product_popup_close:after {
    position: absolute;
    left: 15px;
    content: ' ';
    height: 33px;
    width: 2px;
    background-color: #ffffff;
}

#all_product_popup_close:before {
  transform: rotate(45deg);
}

#all_product_popup_close:after {
  transform: rotate(-45deg);
}

#all_product_gallery{
    position: absolute;
    top: 45px;
    left: 3%;
    width: 94%;
    height: calc( 100% - 70px );

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;

    overflow-y: auto;

    pointer-events: all;
}

.gallery-item{
    position: relative;
    width: 46%;
    height: auto;
    pointer-events: all;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    margin: 0 0 10px 0 ;
}

.gImg{
    width: 200px;
    max-width: 90%;
    height: auto; /* ✅ 限制圖片高度 */
    object-fit: contain; /* ✅ 確保圖片裁切填滿區塊 */
    object-position: center;

    border-radius: 12px;
}

.gtc{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    text-align: left;
    margin: 0px 0px 0 0px;
}

.gittw{
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 0 5px 0 5px;
}

#footer_privacy{
    position: absolute;
    left: 5%;
    bottom: 5px;
    width: 90%;
    height: 20px;
    text-align: center;
    font-size: 14px;
    color: white;

    z-index: -1;
}

#help_container{
    position: absolute;

    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-wrap: nowrap;

    top: 0%;
    left: 0%;
    width: 100%;
    height: 100%;

    background-color: rgb( 0 , 0 , 0 );
    opacity: 0.8;
    z-index: 2;
}

#help_container.active{
    display: flex;
    pointer-events: all;
}

#help_img_arrow{
    position: relative;
    width: 90px;
    height: auto;

    object-fit: contain;
    object-position: 50% 50%;

}

#help_text_1{
    position: relative;
    width: 90%;
    height: 40px;
    margin-top: 25px;
    margin-bottom: 25px;
    white-space: pre-line;

    color: white;
}

#help_img_confirm{
    position: relative;
    width: 150px;
    height: auto;
    object-fit: contain;
    object-position: 50% 50%;
    
}


/* 橫版 手機 */
@media only screen and (orientation: landscape)
{

    #loading_img{
        
        width: 260px;
        height: auto;
        object-fit: contain;
        object-position: 50% 40%;
    }
    
    #loading_text{
        margin-top: 13px;
        width: 260px;
        text-align: center;
        white-space: nowrap;

        font-size: 18px;
    }

    #dot_container{
        width: 260px;
        height: 80px;
    }

    #dot_container > div {
        width: 15px;
        height: 15px;
    }
    

    #bottom_container{
        bottom: 35px;
        height: 60px;
    }

    #bottom_container_main{
        max-width: 350px;
        height: 50px;

        gap: 10px;
    }

    #main_logo_mask{

    }

    #scan_other , #check_teach , #all_product{
        
    }

    #scan_other_text , #check_teach_text , #all_product_text{
        padding: 7px 15px 7px 15px;
        font-size: 16px;
    }

}

/* 直版 手機 */
@media only screen and (orientation: portrait)
{

    #loading_img{
        width: 250px;
        object-fit: contain;
        object-position: 50% 50%;
    }

    #loading_text{
        margin-top: 13px;
        width: 250px;
        text-align: center;
        white-space: nowrap;
        font-size: 18px;
    }

    #dot_container{
        width: 250px;
        height: 80px;
    }

    #dot_container > div {
        width: 15px;
        height: 15px;
    }

    #control_help{
        bottom: 120px;
        height: 50px;
        font-size: 20px;
    }
    
    #bottom_container{
        bottom: 35px;
        height: 60px;
    }

    #bottom_container_main{
        max-width: 350px;
        height: 50px;

        gap: 10px;
    }


    #main_logo_mask{
        max-width: 200px;
    }
    
    #scan_other , #check_teach , #all_product{
        
    }

    #scan_other_text , #check_teach_text , #all_product_text{
        padding: 7px 15px 7px 15px;
        font-size: 16px;
    }

}


/* 平板 直版 */
@media only screen and (orientation: portrait) and (min-width:700px)
{

    #loading_img{
        width: 350px;
        object-fit: contain;
        object-position: 50% 50%;
    }

    #loading_text{
        margin-top: 20px;
        width: 350px;
        text-align: center;
        white-space: nowrap;
        font-size: 28px;
    }

    #dot_container{
        width: 350px;
        height: 90px;
    }

    #dot_container > div {
        width: 15px;
        height: 15px;
    }

    
    #control_help{
        bottom: 130px;
        height: 50px;
        font-size: 24px;
    }

    #bottom_container{
        bottom: 35px;
        height: 60px;
    }

    #bottom_container_main{
        max-width: 700px;
        height: 50px;
    }

    .gallery-item{
        width: 32%;
    }
    
    .gtc{
        margin: 10px 0px 0 0px;
    }

    
    #scan_rect{
        position: relative;
        top: calc( 50% - 500px );
        left: calc( 50% - 200px );
        width: 400px;
        height: 400px;

    }

    #scan_note_text_container{
        top: calc( 50% - 500px );
        font-size: 30px;
        line-height: 45px;
    }

    #scan_other , #check_teach , #all_product{
        
    }

    #scan_other_text , #check_teach_text , #all_product_text{
        padding: 10px 25px 10px 25px;
        font-size: 30px;
    }

}

/* 平板 橫版 */
@media only screen and (orientation: landscape) and (min-width:980px)
{

    #loading_img{
        width: 350px;
        object-fit: contain;
        object-position: 50% 50%;
    }

    #loading_text{
        margin-top: 10px;
        width: 350px;
        text-align: center;
        white-space: nowrap;
        font-size: 28px;
    }

    #dot_container{
        width: 350px;
        height: 90px;
    }

    #dot_container > div {
        width: 15px;
        height: 15px;
    }

    #bottom_container{
        bottom: 35px;
        height: 60px;
    }

    #bottom_container_main{
        max-width: 700px;
        height: 50px;
    }

    
    #scan_other , #check_teach , #all_product{
        
    }

    #scan_other_text , #check_teach_text , #all_product_text{
        padding: 10px 25px 10px 25px;
        font-size: 30px;
    }

}



/* ios Safari 的下方欄位 */

@supports (height: 100dvh) {
    #main_section {
      height: 100dvh;
    }
}
