html{
  width: 100vw;
  height: 100vh;
  overflow: hidden; 
  position: relative;
}

* {
  box-sizing: border-box;
}

body {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgba( 255 , 255 , 255 , 1.0);

  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  overflow-x: hidden;
  overflow: hidden; 
  position: relative;

}

h1 {
  margin: 1px;
  color: rgb(155, 155, 155);
}

hr {
  position: relative;
  top: 0px;
  left: 0px;
  width: 100%;
  border: 1px solid #4a4d54;
}

#bottomProjs {
  position:absolute;
  float:left;
  bottom:100px;
  right:0px;
  height:34px;
  width: 120px;
  z-index:2;
  cursor:pointer;

  border-top-left-radius: 5px;
  background: rgba(49, 51, 63, 0.85); 

  transition: bottom .1s ease-in-out;
    -webkit-transition: bottom .1s ease-in-out;
    -moz-transition: bottom .1s ease-in-out;
}

#bottomProjs.collapsed {
  bottom:0px;
  right:0px;
  height:34px;
  width: 120px;

}

#bottomProjs h4 {
  text-align: left;
  margin: 1px;
  padding-left: 10px;

  color: rgba(200, 200, 200, 1.0);
}

#bottomProjs i {
  border: solid rgba(255, 255, 255, 1.0);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;

  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

#bottomProjs i.collapsed {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}
 
#projsInfo {
	position:absolute;
	bottom:0;
  float:left;
  left:0px;
	width:100%;
	height:100px;
	cursor:pointer;
  overflow-x:auto;
  overflow-y:hidden;
  text-align:center;
  z-index:2;
  background: rgba(49, 51, 63, 0.85); 


	transition: height .1s ease-in-out;
    -webkit-transition: height .1s ease-in-out;
    -moz-transition: height .1s ease-in-out;
}

#projsInfo.collapsed {
	height:1px;
}

#projsTable{
  float: left;
  margin-top: 5px;
  left: 0px;
  position: relative;
  border-spacing: 0px;

}
#leftTopButton {
  position: absolute;
  top: 20px;
  left: 10px;
  cursor:pointer;
  z-index: 2;
}

#leftTopButton p {
  color: rgba(200,200,200,1.0);
  font-size: 24px;
  margin: 10px;
}

#leftTopArrow{
  vertical-align: -10%;
  width:25px;
  height:25px;
}

#switchLens{
  position: absolute;
  top: 30px;
  right: 20px;
  z-index: 2;
  cursor:pointer;
}

#switchLensImg{
  width: 30px;
  height:30px;
}

#snapShotCamera{
  position: absolute;
  bottom: 150px;
  left: calc( 50% - 35px);
  z-index: 2;
  cursor:pointer;

  transition: bottom .1s ease-in-out;
    -webkit-transition: bottom .1s ease-in-out;
    -moz-transition: bottom .1s ease-in-out;
}

#snapShotCamera.collapsed{
  position: absolute;
  bottom: 50px;
  left: calc( 50% - 35px);
  z-index: 2;
  cursor:pointer;
}

#snapShotCameraImg{
  width: 70px;
  height: 70px;
}

#proj_name{
  font-size: 12px;
  color: white;
}


#interactDMPBG{
  display: none;
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.8);
  z-index: 2;
}


#interactDMPMain{
  position: absolute;
  top: calc( 50% - 90px );
  left: calc( 50% - 150px);
  width: 300px;
  height: 180px;

  background-color: #D9D9D9;
  border-radius: 8px;
}

@media only screen and (max-width:300px)
{   
  #interactDMPMain{
    top: calc( 50% - 80px );
    left: calc( 50% - 133px);
    width: 266px;
    height: 160px;
  }

}

#interactDMPTextDiv{
  position: absolute;
  top: 5.5%;
  left: 3.3%;
  width: 93.33%;
  height: 27.77%;

  color: black;
  font-size: 20px;

}


#interactDMPText{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  max-height: 100%;
  white-space:pre-line;
}


#homeStartButton{
  /* display: none; */
  position: absolute;
  top: 66.66%;
  border-radius: 8px;
  width: 26.66%;
  left: 36.66%;
  background-color:#9D9D9D;
  z-index: 1;
  padding: 10px;
  text-align: center;
}


#homeStartP{
  margin:0px;
  font-size: 20px;
  color:white;
}



/* .projNameOneRow{
  width: 50px;
  white-space: nowrap;
  overflow: hidden;
} */

.projNameOneRow{
  width:50px;
  text-align: center;
  overflow: hidden;
  white-space : nowrap;
  text-overflow: ellipsis;
  display: -webkit-box;
   -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
}


#freeUserWarnDiv {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */

  z-index:3;
  text-align: left;
}

#freeUserWarnContent{
  position: absolute;
  top: calc( 50% - 90px );
  left: calc( 50% - 150px);
  width: 300px;
  height: 180px;

  background-color: #D9D9D9;
  border-radius: 8px;
}

@media only screen and (max-width:300px)
{   
  #freeUserWarnContent{
    top: calc( 50% - 80px );
    left: calc( 50% - 133px);
    width: 266px;
    height: 160px;
  }

}
 

#pUserInfo{
  color: black;
  text-align: center;
  font-size: 16pt;
}

#leaveIframe {
  position: absolute;
  top: 66.66%;
  border-radius: 8px;
  width: 26.66%;
  left: 36.66%;
  background-color:#3973ED;
  z-index: 1;
  padding: 10px;
  text-align: center;
}

#leaveIframe:active {
  background-color: #274ea1;
}


/* 起始載入頁面 start */

#homePage{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex-wrap: nowrap;


  position: absolute;
  top:0px;
  width:100vw;
  height:100vh;
  background-color: rgba(128,128,128,0.5);
  z-index: 1;
  text-align: center;
  font-size: 32pt;
  line-height: 80vh;
  overflow: hidden;
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

#homeImageContainer{
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}

.homePlayImage {
  position: absolute;
  width: 100%;
  height: 100%;

  object-fit: contain;
  display: none;
}

.homePlayImage.show {
  display: block;
}

/* 起始載入頁面 end */





.circular--square {
  border-radius: 50%;
}


.circular--square-marker {
  
  border-width: 3px;
  border-style: solid;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;

  border-radius: 50%;
  border-color: rgb(33, 184, 187);
}


#warnModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.1); /* Black w/ opacity */

  z-index:3;
  text-align: left;
}

#warnModalContent  {
  
  position: absolute;
  top: calc( 50% - 90px );
  left: calc( 50% - 150px);
  width: 300px;
  height: 180px;

  background-color: #D9D9D9;
  border-radius: 8px;

}


@media only screen and (max-width:300px)
{   
  #warnModalContent{
    top: calc( 50% - 80px );
    left: calc( 50% - 133px);
    width: 266px;
    height: 160px;
  }

}

#warnModalInfo{
  color: black;
  text-align: center;
  font-size: 16pt;
}

#warnModalButton {
  
  position: absolute;
  top: 66.66%;
  border-radius: 8px;
  width: 26.66%;
  left: 36.66%;
  background-color:#9D9D9D;
  z-index: 1;
  padding: 10px;
  text-align: center;

}

#warnButtonTitle{
  
  margin:0px;
  font-size: 20px;
  color:white;
  cursor: pointer;
  
}


#clickToPlayAudio{
  display: none;
  position: absolute;
  top:0px;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0,0,0,0.8);
  color: white;
  z-index: 1;
  text-align: center;
  font-size: 20px;
  line-height: 90vh;
  overflow: hidden;
  /* -webkit-user-select: none;
  user-select: none;
  pointer-events: none; */
}



/* quiz 區域 start */

#startQuiz{
  position: absolute;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;

  overflow: hidden;
  text-align: left;

  z-index: 3;

}

#startQuiz.active{
 display: block; 
}

#QuizModalContent{
  position: relative;
  background-color: #202125;
  margin: 3% auto;
  border-radius: 16px;
  top: 25%;

  width: 85%;
  height: 50%;
  
}

#QuizStartContentDiv{
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 60%;

  color: white;
  text-align: center;

}

#QuizStartContent{

}


#QuizStartButton{

  position: absolute;
  bottom: 10px;

  left: 2%;
  width: 96%;
  height: 20%;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;

  border: 0;
  padding: 0px 0 0 0px;
  background: #31333f;
  cursor: pointer;
  pointer-events:"none";
}

#QuizStartButton:active {
  background-color: #4a4d54;
}

#QuizstartTitle{

}


#timerDiv{

  position: absolute;
  top: 15%;
  /* margin-left: 2%; */
  left:calc(50% - 50px) ;
  width: 100px;
  height: 30px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;

  background: #18e2d8de;
  z-index: 1;

}

#tipButtonDiv{

  position: absolute;
  top: 20%;
  /* margin-left: 2%; */
  left:calc(50% - 40px) ;
  width: 80px;
  height: 30px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;

  background: #18e2d8de;
  z-index: 1;
  cursor: pointer;

}

#tipContentDiv{

  position: absolute;
  top: 20px;
  /* margin-left: 2%; */

  width: 96%;
  height: 85%;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;

}

#tipConfirmButton{

  position: absolute;
  bottom: 10px;
  /* margin-left: 2%; */

  width: 96%;
  height: 54px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;

  border: 0;
  /* 273 = 203 + 45 + 25 */
  padding: 0px 0 0 0px;
  /* background: 203px 34px / 45px 45px no-repeat url(/images/icon/start/start.png),#31333f; */
  background: #31333f;
  cursor: pointer;
  pointer-events:"none";
}

#tipConfirmButton:active {
  background-color: #4a4d54;
}


.centerText {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space:nowrap;
}

.blocker {
  position: absolute;
  top:0%;
  left:0%;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: 1;
}

#quizEndImg{
  position: absolute;
  top:50%;
  left:50%;
  height:80%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

#scoreImg{
  position: absolute;
  top:50%;
  left:50%;
  height:70%;
  transform: translate(-50%, -50%);
  z-index: 1;

}

#scoreContentDiv{
  position: absolute;
  top:60%;
  left:50%;
  width: 100%;
  height: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#scoreContent{
  margin: 0;
  position: absolute;
  top:50%;
  left:50%;
  font-size: 30px;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#scoreNumDiv{
  position: absolute;
  top:33%;
  left:50%;
  width: 50%;
  height: 20%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

#score{
  margin: 0;
  position: absolute;
  top:50%;
  left:50%;
  font-size: 100px;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: #ffffff;
}

/* quiz 區域 end */

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */

  z-index:3;
  text-align: left;
}
/* Modal Content/Box */

.modal-content {

  position: relative;
  background-color: #202125;
  margin: 3% auto;
  border-radius: 16px;
  width: 85vw;
  height: 85vh;
  overflow: auto;

}

.modal-content > div {
  position: relative;
  margin-left: 2%;
  margin-right: 2%;
  width: 90%;
}

#projectTypeDiv{
  position: relative;
  /* width:90%; */
  margin-top: 15px;
  min-height: 30px;
}

#projectTypeImg{
  position: absolute;
  width:30px;
  height:30px;
  left:5px ;
  /* bottom: 6px; */
}

#projectTypeInfo{
  position: relative;
  font-size: 12pt;
  color: #8b93a6;
  left:  45px ;
}

#projectNameDiv{
  position: relative;
  width:95%;
  margin-top: 20px;
}

#projectNameInfo {
  margin:0px;
  font-size: 14pt;
  color: #ffffff;
}

#projectUserImage {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  border-radius: 50%;
}

#projectUserName {
  position: relative;
  top: -12px;
  margin-left: 5px;
  font-size: 9pt;
  color: #8b93a6;
}

#projectLastUpdateDate {
  position: absolute;
  font-size: 9pt;
  right: 0%;
  top: 40px;
  color: #8b93a6;
}

#scanList{
  position: relative;
}

#projectUsageDiv{
  margin-top: 7px;
  position: relative;
}

#projectDescriptionDiv
{
  margin-top: 5px;
  position: relative;
}

#scanListTitle,
#projectUsageTitle,
#projectDescriptionTitle
{
  margin-top: 3px;
  font-size: 10pt;
  margin: 0px;
  color: #8b93a6;
}

#projectUsageInfo{
  color:#ffffff;
  font-size: 8pt;
  margin: 0px;
}

#projectDescription
{
  color:#ffffff;
  overflow-y: auto;
  font-size: 8pt;
  margin: 0px;
  height: 40px;
}

#projectPicture{
  height:100px;
}

#projectPicture > img {
  margin-top: 3px;
  margin-right: 15px;
  width: 90px;
  height: 90px;
}

#scanListEndLine{
  display: none;
}

#projectGPSDiv{
  color:#8b93a6;
  margin-top: 7px;
  position: relative;
  display: none;
  /* margin-bottom: 3px; */
}
#projectGPStitle{
  font-size: 10pt;
  margin:2px;
}

#projectGPSInfo{
  background-color: #4a4d54;
  border-radius:10px;
  padding-left:10px;
  padding-top:3px;
  padding-bottom:3px;
  font-size: 8pt;
  color: rgba(240,240,240,1);
}
#projectGPSDivEndLine{
  display: none;
}

#projectStartButton {
  position: absolute;
  bottom: 10px;
  width: 96%;
  height: 54px;
  border-radius: 16px;
  color: #ffffff;
  text-align: center;
  border: 0;
  padding: 0px 0 0 0px;
  background: #31333f;
  cursor: pointer;
}

#projectStartButton:active {
  background-color: #4a4d54;
}

#startTitle{
  position: relative;
  top:16px;
  margin: 0px;
  font-size: 12pt;
  left:calc( 25% + 20px  ) ;
  width:50%;
}

#startBGImage{
  position: absolute;
  width:40px;
  height:40px;
  left:calc(50% - 90px) ;
  bottom: 6px;
}

/* The Close Button */
.close {
  color: #aaa;
  /* float: right; */
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
} 

.scratchCanvasContainer{
  /* border: 0px solid black; */
  position: absolute;
  width: 300px;
  height: 300px;
  margin: 0 auto;

  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none; 
  -o-user-select: none;
  user-select: none;
}

.scratchCanvas{
  position: absolute;
  width:100%;
  height:100%;
  margin:0 auto;
  left:0%;
}


.backgroundModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.7); /* Black w/ opacity */

  z-index:3;
  text-align: left;
}

#scratchCardExchangeDiv,
.moduleExchangeDiv
{
  position: absolute;
  width: 90%;
  /* height: 40px; */
  padding: 15px 0;
  left:5%;
  margin: 0 auto;
  bottom: 2px;
  cursor: pointer;
  color: white;
  background-color: rgba( 49,51,63,0.9); /* Black w/ opacity */
  text-align: center;
  font-size: 12pt;
  display:none;
  z-index: 1;
}

#inputPasswordDiv,
.modulePWDDiv
{
  position: absolute;
  background-color: rgba( 49,51,63,0.98); /* Black w/ opacity */
  margin: 2% auto;
  border-radius: 16px;
  /* width: 85vw; */
  /* height: 85vh; */
  overflow: auto;
  display: none;
  z-index: 1;

  text-align: center;
  font-size: 20pt;
  color: white;
  /* padding: 10px 0 0 10px ; */
}

#inputPasswordInputText,
.modulePWDInputText
{
  position: relative;
  font-size: 12pt;
  width:80%;
  text-align: center;

}

#inputPasswordResultText,
.modulePWDRetText
{
  position: relative;
  font-size: 12pt;
  width:80%;
  text-align: center;
  margin: 2% auto;
}

.bottomLeftCell{
  position: absolute;
  bottom:1%;
  left:0%;
  width:50%;
  margin: 2px auto;
  background-color: rgba(67, 70, 87, 0.98); /* Black w/ opacity */
  border-width: 0px 2px 0px 0px;
  border-style: solid;
  border-color: rgba(148, 148, 148, 1.0);
  cursor: pointer;
}

.bottomRightCell{
  position: absolute;
  bottom:1%;
  right:0%;
  width:50%;
  margin: 2px auto;
  background-color: rgba(67, 70, 87, 0.98); /* Black w/ opacity */
  border-width: 0px 0px 0px 1px;
  border-style: solid;
  border-color: rgba(148, 148, 148, 1.0);
  cursor: pointer;
}
