
html, body{
    background-color: #E4C050;
    min-height: 100vh;
}

#main{
    background-color: #E4C050;
    text-align: center;
}

#header{
    background-color: #E1A64A;
    color: white;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

#header_title {
    font-size: 22px;
    margin: 0;
    width: 100%;
}


#main_logo_img{
    margin-top: 5px;

    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-content: center;
    align-items: center;

}

#main_logo_img > img{
    width: 300px;
    max-width: 80%;
    height: auto; /* ✅ 限制圖片高度 */
    object-fit: contain; /* ✅ 確保圖片裁切填滿區塊 */
    border-radius: 12px;
}

#main_logo_mask{

    width: 50%;
    height: 120px;

    -webkit-mask: url("../images/icon/app素材-09.png") no-repeat center center;
    -webkit-mask-position: center;
    -webkit-mask-size: contain;

    mask: url("../images/icon/app素材-09.png") no-repeat center center;
    mask-position: center;
    mask-size: contain;

    background-color: white;
}


#main_description{
    margin-top: 0px;
    
    font-size: 18px;
    text-align: center;
    white-space: pre-line;

    color: white;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 20px;
    max-width: 900px;
    margin: 0 0 20px 0 ;
}

.gallery-item {
    position: relative;

    color: white;

    /* background-color: var(--card-bg); */
    /* box-shadow: 0 4px 12px var(--shadow); */
    overflow: hidden;
    text-align: center;
    padding: 10px;
    /* transition: transform 0.2s ease; */

    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    /* align-content: flex-start; */
    align-items: center;

    gap: 7px;

}

.gallery-item:hover {
    /* transform: translateY(-3px); */
    transform: translateY(-3px) scale( 1.1 );
    
}

.gallery-img , .gallery-item img{
    width: 200px;
    max-width: 46%;
    height: auto; /* ✅ 限制圖片高度 */
    object-fit: contain; /* ✅ 確保圖片裁切填滿區塊 */
    object-position: center;

    border-radius: 12px;
    /* background-color: #eee; */
}

.gallery-textContainer{
    flex-grow: 0;
    flex-shrink: 0;
    flex-basis: auto;

    text-align: left;
    margin-left: 5px;
}

.gallery-item-title-tw {
    font-size: 30px;
    margin-top: 3px;
    margin-bottom: 3px;
    letter-spacing: 3px;
}
.gallery-item-title-en{
    font-size: 26px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.margin_10{
    margin: 10px;
}

.color_white{
    color: white;
}

.gallery-hr-solid {
    border-style: solid;
}

.gallery-hr-dashed {
    border-style: dashed;
}

.difficulty {
    margin-top: 6px;
    margin-bottom: 6px;
    font-size: 18px;
    color: white;
}



/* 橫版 手機 */
@media only screen and (orientation: landscape)
{
    #main_logo_mask{
        max-width: 280px;

    }

    .gallery {
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 900px;
    }

    .gallery-img , .gallery-item img{
        max-width: 50%;
    }

}

/* 直版 手機 */
@media only screen and (orientation: portrait)
{
    #main_logo_mask{
        max-width: 280px;
        
    }

    .gallery {
        grid-template-columns: repeat(1, 1fr);
        gap: 20px;
        max-width: 900px;

    }
}


/* 橫版 平板 */
@media only screen and (orientation: landscape) and (min-width:980px)
{
    .gallery {
        position: relative;
        left: 5%;
        width: 90%;

        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        max-width: 90%;

    }
}

/* 直版 平板 */
@media only screen and (orientation: portrait) and (min-width:700px)
{
    .gallery {
        position: relative;
        left: 5%;
        width: 90%;
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;
        max-width: 90%;

    }
}

